*{
    font-family: 'Raleway', sans-serif;
}   
pre {
    tab-size: 8;
}
body{
    background-color: #f9f9f9;
}

.container-fluid{
    padding: 20px;
}

.navbar-brand{
    font-family: 'Montserrat', sans-serif;
}
.card{
    margin-bottom: 20px;
    text-align: center;
}
.card, .card-text{
    width: 100vw;
    color: #333;
}

@media (min-width: 768px) { 
    .card, .card-text{
        width: 40vw;
    }
}

.card-text{
    width:100%;
    word-wrap: break-word;
}
.navbar-inverse .navbar-toggler{
    border-color: rgba(255,255,255,0.5);
}
.fa-bars{
    color: rgba(255,255,255,0.5);
}
.card-title{
    font-size: 60px;
}
.card-title img{
    height: 60px;
}
.fa-positivo{
    color: limegreen;
}
.fa-negativo{
    color:red;
}
.fa-invalido{
    color:#FFDA44;
}
.fa-bomba{
    color: dodgerblue;
}
.logo {
    width: 75px;
    height: 75px;
    display: block;
    margin: 5px auto;
    padding: 10px;
}
.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(30, 85, 187);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(30, 85, 187);
    cursor: pointer;
  }

  .center {
    display: block;
    margin: 10px auto;
    max-width: 70%;
  }

.onoffswitch {
position: relative; width: 110px;
-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #798A99; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 23px; padding: 0; line-height: 23px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: 'Ligado';
    padding-left: 10px;
    background-color: #0275D8; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: 'Desligado';
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width:17px; margin: 5px;
    background: #F7F7F7;
    position: absolute; top: 0; bottom: 0;
    border: 2px solid #798A99; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}