*{
    font-family: 'Raleway', sans-serif;
}   
pre {
    tab-size: 8;
}
body{
    background-color: #f9f9f9;
}

.container-fluid{
    padding: 20px;
}

.navbar-brand{
    font-family: 'Montserrat', sans-serif;
}
.card{
    margin-bottom: 20px;
    text-align: center;
}
.card, .card-text{
    width: 100vw;
    color: #333;
}

@media (min-width: 768px) { 
    .card, .card-text{
        width: 40vw;
    }
}

.card-text{
    width:100%;
    word-wrap: break-word;
}
.navbar-inverse .navbar-toggler{
    border-color: rgba(255,255,255,0.5);
}
.fa-bars{
    color: rgba(255,255,255,0.5);
}
.card-title{
    font-size: 60px;
}
.card-title img{
    height: 60px;
}
.fa-positivo{
    color: limegreen;
}
.fa-negativo{
    color:red;
}
.fa-invalido{
    color:#FFDA44;
}
.fa-bomba{
    color: dodgerblue;
}
.logo {
    width: 75px;
    height: 75px;
    display: block;
    margin: 5px auto;
    padding: 10px;
}
.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(30, 85, 187);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(30, 85, 187);
    cursor: pointer;
  }

  .center {
    display: block;
    margin: 10px auto;
    max-width: 70%;
  }